legend {
  margin-bottom: $mdb-input-line-height-computed;
  font-size: ($mdb-input-font-size-base * 1.5);
}

// Adjust output element
output {
  padding-top: ($mdb-input-padding-base-vertical + 1);
  font-size: $mdb-input-font-size-base;
  line-height: $mdb-input-line-height-base;
}

.form-control {
  height: $mdb-input-height-base; 
  padding: $mdb-input-padding-base-vertical $mdb-input-padding-base-horizontal;
  font-size: $mdb-input-font-size-base;
  line-height: $mdb-input-line-height-base;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    &.form-control {
      line-height: $mdb-input-height-base;
    }

    &.input-sm,
    .input-group-sm & {
      line-height: $mdb-input-height-small;
    }

    &.input-lg,
    .input-group-lg & {
      line-height: $mdb-input-height-large;
    }
  }
}

.radio,
.checkbox {

  label {
    min-height: $mdb-input-line-height-computed; // Ensure the input doesn't jump when there is no text
  }
}

.form-control-static {
  padding-top: ($mdb-input-padding-base-vertical + 1);
  padding-bottom: ($mdb-input-padding-base-vertical + 1);
  min-height: ($mdb-input-line-height-computed + $mdb-input-font-size-base);
}



.input-sm {
  @include input-size(unquote(".input-sm"), $mdb-input-height-small, $mdb-input-padding-small-vertical, $mdb-input-padding-small-horizontal, $mdb-input-font-size-small, $mdb-input-line-height-small, $mdb-input-border-radius-small);
}
.form-group-sm {
  .form-control {
    height: $mdb-input-height-small;
    padding: $mdb-input-padding-small-vertical $mdb-input-padding-small-horizontal;
    font-size: $mdb-input-font-size-small;
    line-height: $mdb-input-line-height-small;
  }
  select.form-control {
    height: $mdb-input-height-small;
    line-height: $mdb-input-height-small;
  }
  textarea.form-control,
  select[multiple].form-control {
    height: auto;
  }
  .form-control-static {
    height: $mdb-input-height-small;
    min-height: ($mdb-input-line-height-computed + $mdb-input-font-size-small);
    padding: ($mdb-input-padding-small-vertical + 1) $mdb-input-padding-small-horizontal;
    font-size: $mdb-input-font-size-small;
    line-height: $mdb-input-line-height-small;
  }
}

.input-lg {
  @include input-size(unquote(".input-lg"), $mdb-input-height-large, $mdb-input-padding-large-vertical, $mdb-input-padding-large-horizontal, $mdb-input-font-size-large, $mdb-input-line-height-large, $mdb-input-border-radius-large);
}
.form-group-lg {
  .form-control {
    height: $mdb-input-height-large;
    padding: $mdb-input-padding-large-vertical $mdb-input-padding-large-horizontal;
    font-size: $mdb-input-font-size-large;
    line-height: $mdb-input-line-height-large;
  }
  select.form-control {
    height: $mdb-input-height-large;
    line-height: $mdb-input-height-large;
  }
  textarea.form-control,
  select[multiple].form-control {
    height: auto;
  }
  .form-control-static {
    height: $mdb-input-height-large;
    min-height: ($mdb-input-line-height-computed + $mdb-input-font-size-large);
    padding: ($mdb-input-padding-large-vertical + 1) $mdb-input-padding-large-horizontal;
    font-size: $mdb-input-font-size-large;
    line-height: $mdb-input-line-height-large;
  }
}


.form-horizontal {

  
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    padding-top: ($mdb-input-padding-base-vertical + 1); // Default padding plus a border
  }

  .radio,
  .checkbox {
    min-height: ($mdb-input-line-height-computed + ($mdb-input-padding-base-vertical + 1));
  }

  @media (min-width: $screen-sm-min) {
    .control-label {
      padding-top: ($mdb-input-padding-base-vertical + 1); // Default padding plus a border
    }
  }


  .form-group-lg {
    @media (min-width: $screen-sm-min) {
      .control-label {
        padding-top: (($mdb-input-padding-large-vertical * $mdb-input-line-height-large) + 1);
        font-size: $mdb-input-font-size-large;
      }
    }
  }
  .form-group-sm {
    @media (min-width: $screen-sm-min) {
      .control-label {
        padding-top: ($mdb-input-padding-small-vertical + 1);
        font-size: $mdb-input-font-size-small;
      }
    }
  }
}


// label variations
.label {
  border-radius: $border-radius-small;
}

// -----
// Inputs

.form-control,
.form-group .form-control {
  border: 0;
  background-image: linear-gradient($brand-primary, $brand-primary), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;

  font-weight: 400;

  // Placeholders and and labels-as-placeholders should look the same
  @include material-placeholder {
    color: $mdb-input-placeholder-color;
    font-weight: 400;
}
  &[readonly],
  &[disabled],
  fieldset[disabled] & {
    background-color: rgba(0, 0, 0, 0);
  }

  &[disabled],
  fieldset[disabled] & {
    background-image: none;
    border-bottom: 1px dotted $mdb-input-underline-color;
  }
}

.form-group {
  position: relative;

  &.label-static,
  &.label-placeholder,
  &.label-floating {
    label.control-label {
      position: absolute;
      pointer-events: none;
      transition: 0.3s ease all;
    }
  }


  &.label-floating label.control-label {
    will-change: left, top, contents;
  }

  // hide label-placeholders when the field is not empty
  &.label-placeholder:not(.is-empty){
    label.control-label{
      display: none;
    }
  }

  // Help blocks - position: absolute approach - uses no vertical space, text wrapping - not so good.
  .help-block {
    position: absolute; // do not use position: absolute because width/wrapping isn't automatic and overflows occur
    display: none;
  }

  // form-group is-focused display
  &.is-focused {
    .form-control {
      outline: none;
      background-image: linear-gradient($brand-primary, $brand-primary), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
      background-size: 100% 2px, 100% 1px;
      box-shadow: none;
      transition-duration: 0.3s;

      .material-input:after {
        background-color: $brand-primary;
      }
    }

    &.form-info{
        .form-control{
             background-image: linear-gradient($brand-info, $brand-info), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
         }
    }
    &.form-success{
        .form-control{
             background-image: linear-gradient($brand-success, $brand-success), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
         }
    }
    &.form-warning{
        .form-control{
             background-image: linear-gradient($brand-warning, $brand-warning), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
         }
    }
    &.form-danger{
        .form-control{
             background-image: linear-gradient($brand-danger, $brand-danger), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
         }
    }
    &.form-white{
        .form-control{
             background-image: linear-gradient($white, $white), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
         }
    }

    //.variations(unquote(".is-focused.label-placeholder label.control-label"), color, $mdb-input-placeholder-color);  // default label color variations
    &.label-placeholder {
      label,
      label.control-label {
        color: $mdb-input-placeholder-color;
      }
    }

    .help-block {
      display: block;
    }
  }

  @include form-group-validation-state(has-warning, $brand-warning);
  @include form-group-validation-state(has-error, $brand-danger);
  @include form-group-validation-state(has-success, $brand-success);
  @include form-group-validation-state(has-info, $brand-info);

  textarea {
    resize: none;
    & ~ .form-control-highlight {
      margin-top: -11px;
    }
  }

  select {
    appearance: none; // Fix for OS X

    & ~ .material-input:after {
      display: none;
    }
  }
}


select.form-control {

  border: 0;
  box-shadow: none;
  border-radius: 0;

  .form-group.is-focused & {
    box-shadow: none;
    border-color: $mdb-input-underline-color;
  }

  &[multiple] {
    &,
    .form-group.is-focused & {
      height: 85px;
    }
  }
}



.input-group {  // may be in or outside of form-group
  .input-group-btn {
    padding: 0 12px; // match addon spacing
  }

  .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 15px 0px;
  }
}

// Input files - hide actual input - requires specific markup in the sample.
.form-group input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}


.form-control-feedback{
    opacity: 0;

    .has-success &{
        color: $green;
        opacity: 1;
    }

    .has-error &{
        color: $red;
        opacity: 1;
    }
}

.md-field{
  .md-input,
  .md-textarea{
    height: 36px;
    padding: 7px 0;
    font-size: 14px !important;
    -webkit-text-fill-color: $black !important;
  }

  &.md-has-textarea:not(.md-autogrow) label{
    left: 0;
  }

  .sidebar &.md-theme-default.md-focused .md-input{
    color: $white !important;
    -webkit-text-fill-color: $white !important;
  }


  label{
    font-size: 14px;
    font-weight: 400;
    color: $mdb-input-placeholder-color !important;
    line-height: 1.4;
    top: 26px;
  }

  &.md-disabled{
    .md-input{
      cursor: not-allowed;
    }

    &:after{
      border-bottom: 1px dotted #d2d2d2;
      background-color: transparent!important;
      background-image: none !important;
    }
  }

  &:not(.md-disabled):after{
    background-color: #d2d2d2 !important;
  }

  &:before{
    background-color: $brand-primary !important;
  }

  &.md-focused label,
  &.md-has-value label,
  &.md-focused.md-has-value label{
    font-size: .6875rem;
  }

  &.md-has-textarea:not(.md-autogrow):after,
  &.md-has-textarea:not(.md-autogrow):before{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    border-color: #d2d2d2 !important;
  }

  &.md-has-textarea:not(.md-autogrow):before{
    border-bottom: 2px solid transparent;
    border-color: $brand-primary !important;
    transform: scaleX(.12);
  }

  &.md-has-textarea:not(.md-autogrow).md-focused label,
  &.md-has-textarea:not(.md-autogrow).md-has-value label{
    top: 0;
  }

  &.md-focused.md-has-textarea:not(.md-autogrow):before{
    transform: scaleX(1);
  }
}

.md-field .md-input-action{
  top: 8px;
  border-radius: 50%;
  background-color: $white !important;
}


.title {
  color: black;
  text-align: center;
  font-family: Inter,sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 25px;
}

.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1.5px solid orange;
  border-radius: 15px;
  background-color: white;
  line-height: 4;

  /* Center the login box */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}


.input-data input{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, 
.input-data input:valid ~ label{
  transform: translateY(-27px);
  font-size: 13px;
  color: orange;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: 	rgb(250, 213, 165);
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scale(1);
}


.left-information{
  max-width: 400px;
  background: #fff;
  width: 400px;
  padding: 18px 29px 29px 29px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  text-align: left;
}

.left-information form .form-row{
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.file-label {
  position: relative;
  display: inline;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.file-label input[type="file"] {
  position: fixed;
    opacity: 0;
    cursor: pointer;
} 

.overlap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.7); 
}

.message {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.warning {
  background-color: #fef4e4;
  color: orange;
  border: 1px solid #fef4e4;
}


.fail {
background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.typeInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.5s ease;
}

.typeInput:focus {
  outline: none;
  border-color: orange;
}

.confirmation-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef4e4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.confirmation-message p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;

  margin-right: 50px;
}


.dropdownSubcon {
  border: 1px solid orange;
  width: 40%;
  height: 21%;
  border-radius: 6px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;

  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the element */
  left: 50%;
  margin-left: -60px; /* Center the tooltip */

}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
