.view-container {
    display: unset;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    background-color: $orange;
}

.view-item {
    margin: 10px 15px;
    margin-top: 0px;
}

.view-toggle {
    display: block;
}

.view-checkbox {
    display: none;
}

.view-checkbox:checked + .view-toggle .view-card .view-content {
    display: block;
}

.view-card {
    background-color: $white;
    border: 1px solid $orange;
    border-radius: 8px;
    padding: 20px;
}

.view-title {
    font-weight: bold;
    cursor: pointer;
}

.view-content {
    display: none;
}
.model-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}



.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; 
}

.model-td {
    width: 50% !important;
}

.modal-content {
    background-color: $white; 
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px $gray-lighter;
    width: 850px; 
    max-height: 100vh; 
    overflow-y: auto;
}




.form-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-box, .right-box {
  width: 48%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}


.modal-content table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content th,
.modal-content td {
    padding: 12px; 
    text-align: left;
    border: 1px solid $table-border-color; 
    border-radius: 8px; 
    background-color: $white; 
}


.modal-content tr:nth-child(even) {
    background-color: $white;
}

.modal-content tr:hover {
    background-color: $white;
}


  
  .Inforrmodal-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .Inforrmodal-content {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 2px 4px $gray-light;
    width: 100%;
    max-width: 600px; 
    margin-top: 80px;
  }
  
  .Inforrmodal-content .Inforbox {
    padding: 40px;
  }
  
  .Inforrtitle {
    font-size: 24px;
    margin-bottom: 60px;
    text-align: left;
    margin-top: -18px;
  }
  
  .Inforrsubtitle {
    font-size: 18px;
    color: $black;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
  }
  

  .closeIcon {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    background-color: $white;
    margin-left: -54px;
    margin-top: 91px;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
    padding: 20px;
  }

  .is-active {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
  }