.sidebar {
  z-index: 9999 !important;
}

.wrapper .sidebar .nav, .wrapper .off-canvas-sidebar .nav {
  margin-top: 0px !important;
}

.wrapper:after{
  display: table;
  clear: both;
  content: " ";
}

.md-list-item{
  .md-list-item-container{
    .md-ripple{
      padding: 10px 15px;
      border-radius: $border-radius-base;

      > span{
        border-radius: $border-radius-base;
      }
    }
  }
}

.wrapper .sidebar,
.wrapper .off-canvas-sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include shadow-big();
    background-size: cover;
    background-position: center center;

    .md-icon.md-theme-default.md-icon-font,
    .material-icons{
      color: $white !important;
      opacity: .8
    }

    .md-list {
      &.nav {
        position: initial;
      }

      background-color: transparent !important;

      .md-list-item a{
        text-transform: capitalize;
      }

      .md-list-item-content{
        justify-content: flex-start;
        min-height: auto;
      }

      & .md-list-item-container:hover{
        background-color: $orange-400 !important;
      }
    }

    .md-ripple span .md-ripple-wave{
      background-color: $gray-lighter !important;
    }


    .sidebar-wrapper{
        position: relative;
        height: calc(100vh - 75px);
        width: 260px;
        z-index: 4;

        .dropdown .dropdown-backdrop{
            display: none !important;
        }

        .navbar-form{
            border: none;
        }

        .nav{
            padding: 0;

            [data-toggle="collapse"] ~ div > ul > li > a{
                padding-left: 60px;
            }

            .caret{
                margin-top: 13px;
                position: absolute;
                right: 18px;
            }
        }

    }

    .logo-tim{
        border-radius: 50%;
        border: 1px solid $black;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img{
            width: 60px;
            height: 60px;
        }
    }



    .nav{

        &.nav-mobile-menu{
          li a {
            padding: 10px 15px;
          }
        }

        li{

          a{
            display: flex;
            text-decoration: none;
            margin: 10px -2px 4px;
            border-radius: $border-radius-base;
            color: $white !important;
            // white-space: nowrap;
            cursor: pointer;
            width: auto;
          }
            &:hover > a,
            .dropdown:hover > a{
                background: $gray-lighter;
                color: $black;
            }

            .active {
                color: $white !important;

                .md-ripple i{
                    opacity: 1;
                }
            }
        }

        .router-link-active p {
          color: $white;
        }

        p{
          margin: 0;
          line-height: 30px;
          font-size: 14px;
          position: relative;
          display: block;
          height: auto;
          font-weight: $font-weight-light;
          // white-space: nowrap;
        }

        i{
            font-size: 27px !important;
            float: left;
            margin-right: 30px !important;
            margin-left: 0;
            line-height: 30px;
            width: 30px;
            text-align: center;
            color: $gray-light;
        }
    }

    .logo-mini{
      text-transform: uppercase;
      display: block;
      font-size: $font-size-large;
      font-weight: $font-weight-default;
      line-height: 30px;
      text-decoration: none;
      width: 45px;
      margin-left: 11px;
      position: relative;
      z-index: 4;
      margin-top: 12px;
    }
    .logo-image{
      text-transform: uppercase;
      padding: $padding-small-vertical $padding-zero;
      display: block;
      font-size: $font-size-large;
      font-weight: $font-weight-default;
      line-height: 30px;
      text-decoration: none;
      margin-left: 20px;
      width: 185px;
      position: relative;
      padding: $padding-base 0;
      z-index: 4;

      &,
      &:hover,
      &:focus{
        color: $white !important;
      }

      .logo-img{
        width: 40px;
        display: inline-block;
        height: 40px;
        background: $white;
        border-radius: 50%;
        text-align: center;
        overflow: hidden;
        @include shadow-big();

          img{
            width: 55%;
            vertical-align: -webkit-baseline-middle;
          }
      }
    }

    .logo{
      p{
          float: left;
          font-size: 20px;
          margin: 10px 10px;
          color: $white; 
          line-height: 20px;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    }

    .logo-tim{
        border-radius: 50%;
        border: 1px solid $black;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img{
            width: 60px;
            height: 60px;
        }
    }

    &:after{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: .85;
        top: 0;
        left: 0;
        z-index: 2;
    }

    
}

.off-canvas-sidebar{
    .nav {
        > li > a,
        > li > a:hover{
            color: $white;
        }

        > li > a:focus{
            background: $white;
        }
    }
}

.perfect-scrollbar-on{
  .sidebar,
  .main-panel{
      height: 100%;
      max-height: 100%;
  }
}


.sidebar {
  width: 3.9% !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  height: 100% !important;
  overflow: hidden !important;
  transition: width 0.2s linear !important;
  z-index: 10; /* Set a default z-index */
}

.nav-item {
  position: relative;
}


.sidebar:hover {
   width: 18.5% !important;
   transition: all 0.5s ease !important;
  z-index: 5; /* Increase the z-index on hover */

}


.sidebar:not(:hover) .menutitle, 
.sidebar:not(:hover) .sidebar-divider {
  display: none !important;
}

@media screen and (min-width: 991px) {
  .nav-mobile-menu {
    display: none;
  }
}

.sidebar:not(:hover) .logo-image {
  display: none !important;
}

.sidebar:hover .logo-mini {
  display: none !important;
  
}

@media (min-width: 1200px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 100%  !important;
}
}

.spinner-border {
  color: red;
  text-align: center;
  font-size: 21px;
  padding: 10px;
  margin-bottom: 10px;
}