.md-table-cell-container{
  padding: 0;
  .md-table-cell:last-child &{
    padding-right: 0;
    text-align: right;
    display: flex;
  }
}
.md-table-head{
  background-color: $background-lighter-grey !important;
}
.md-table-head-container{
  height: 130px !important;
  border: 1px solid $table-border-color !important; 
  padding: 8px 0 !important;
}

.md-table-head-label{
  font-size: $font-size-h5;
  padding-left: 8px;
  font-weight: 600;
  height: 130px !important;
}

.md-table-head-container, .md-table-head-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal  !important;
}

.md-tabs-content table thead{
  display: none;
}

.md-tabs-container tbody .md-table-row:first-child td{
  border: 0;
}

.md-table-cell{
  padding: 12px 8px;
  font-size: $font-size-base;
  padding: 10px;
  border: 1px solid $table-border-color !important; 
}

.md-table table {
  border-collapse: unset !important; 
}

.md-table .md-table-row:hover .md-table-cell{
  background-color: transparent !important;
}

.md-table .md-table-row:hover{
  background: $table-bg-hover !important;
}

.md-card-plain .md-card-content > div .md-table .md-table-content,
.md-card-plain .md-card-content > div .md-table {
  background-color: transparent !important;
}

.md-table{
  .md-table-row td{
    border-top-color: rgba(0,0,0,.06) !important;
  }
}
.td-max-width {
  max-width: 400px;
  word-wrap: break-word;
  white-space: normal;
  min-width: 240px;
}

tbody td,tfoot td {
  padding: 8px !important;
  text-align: left;
  border: 1px solid #ddd;
}

.Searchbar {
  display: flex;
  align-items: center;
  margin: 0px -1px 30px;
}

.Searchbar input[type="text"] {
  padding: 8px 12px;
  border-radius: 13px;
  border: 1px solid $orange;
  font-size: 15px;
  width: 190px;
  outline: none;
  transition: border-color 0.3s ease;
}

.filter-container {
  margin-bottom: 10px;
}


.container {
    display: flex;
    justify-content: space-between;
}

.search-container {
    flex: 1;
    margin-bottom: 10px;
}


.approval-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.approval-table th,
.approval-table td {
  border: 1px solid $table-border-color;
  padding: 8px;
}

.approval-table th {
  background-color: $gray-lighter;
}

.approval-table tbody tr:nth-child(even) {
  background-color: $gray-lighter;
}

.approval-table tbody tr:hover {
  background-color: $table-border-color;
}

.comparison-table {
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px $gray-lighter;
}

.comparison-table th,
.comparison-table td {
  border: 1px solid $table-border-color;
  text-align: center;
  padding: 13px;
  overflow: visible;
}


.comparison-table th {
  background-color: $gray-lighter;
  font-size: 16px;
  font-weight: bold;
}

.comparison-table td {
  font-size: 14px;
}


.table-container {
  overflow-x: auto;
 font-size: 12.5px;
}

.finalTable {
  width: 100%;
  border-collapse: collapse;
}

.finalTable th, .finalTable td {
  border: 1px solid $table-border-color;
  padding: 10px;
  text-align: left;
}

.finalTable th {
  background-color: $gray-lighter;
  font-size: 18px;
  color: $black;
}

.finalTable .table-heading {
  font-weight: bold;
  font-size: 20px;
}

.finalTable .description {
  font-size: 16px;
  font-weight: bold;
}

.finalTable .value {
  font-size: 16px;
  color: $blue;
}

.projectTable-container {
  overflow-x: auto;
  width: 100%;
  height: 486px;
  overflow-y: auto;
}

unittype-container {
  overflow-x: auto;
  width: 100%;
  overflow-y: auto;
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.project-table th,
.project-table td {
  border: 1px solid $orangeLight;
  padding: 12px;
  text-align: left;
}

.project-table th {
  background-color: $orangeLight;
  font-weight: bold;
}


.nested-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $table-border-color;
  vertical-align: baseline;

}
.nested-table th, .nested-table td {
  border: none;
  text-align: left;
  vertical-align: baseline;
}
.nested-table th {
  background-color: $orangeLight;
  border:none;
  vertical-align: baseline;
  padding: 10px;
}

.unityQuantityClass{
  text-align: center !important;
}


label {
  display: block;
}


.cqapprovalBox-container {
  display: flex; 
}

.cqbox {
  display: flex;
  border: 1px solid $orangeLight;
  padding: 15px;
  border-radius: 8px;
  background-color: $orangeLight;
  margin-bottom: 15px;
  width: 100%;
}

.left-container {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-container {
  flex: 1;
  padding-left: 20px;
}


.remarks-textarea {
  width: 100%;
  height: 106px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

.quotation-select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: $white;
  appearance: none;
  cursor: pointer;
}


thead th{
  background-color: $orangeLight;
}

.header-row-1 th {
  position: sticky;
  top: 0; 
  z-index: 2; 
}


.tableNotification {
  display: flex; 
  align-items: flex-start;
}

.read-icons {
  margin-right: 15px; 
  font-size: 29px; 
}

.tableNotifyContent {
  display: flex;
  flex-direction: column; 
}

.tableNotifyDiescription {
  font-size: 13px;
}

.notification-row:hover {
  background-color: #f5f5f5; 
}